<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="site.alexkononsol.controllerfortelegrambot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.ControllerForTelegramBot"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".BackupActivity"
            android:label="@string/backupActivityTitle"
            android:parentActivityName=".settings.SettingActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\.bp" />
                <data android:pathPattern=".*\..*\.bp" />
                <data android:pathPattern=".*\..*\..*\.bp" />
                <data android:pathPattern=".*\..*\..*\..*\.bp" />
                <!-- keep going if you need more -->

            </intent-filter>
        </activity>
        <activity
            android:name=".ViewCityActivity"
            android:exported="true"
            android:label="@string/viewCityNameLabel"
            android:parentActivityName=".SearchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SearchActivity"
            android:exported="true"
            android:label="@string/searchName"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:exported="true"
            android:label="@string/helpNameLabel"
            android:parentActivityName=".settings.SettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".settings.SettingActivity"
            android:exported="true"
            android:label="@string/nameSettingsActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DelActivity"
            android:exported="true"
            android:label="@string/nameDel"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PostActivity"
            android:exported="true"
            android:label="@string/namePost"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PutActivity"
            android:exported="true"
            android:label="@string/namePut"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GetActivity"
            android:exported="true"
            android:label="@string/nameGet"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>