<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="site.alexkononsol.controllerfortelegrambot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControllerForTelegramBot"
        android:usesCleartextTraffic="true"
        android:testOnly="false"
        android:installLocation="preferExternal"
        >
        <activity
            android:name=".HelpActivity"
            android:exported="true" />
        <activity
            android:name=".settings.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".DelActivity"
            android:exported="true" />
        <activity
            android:name=".PostActivity"
            android:exported="true" />
        <activity
            android:name=".PutActivity"
            android:exported="true" />
        <activity
            android:name=".GetActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>